body {
    background-color: #0F380F;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}

img {
    margin-top: 100px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    height: auto;
}

